//
// variables
// --------------------------------------------------

/*---------------------------------------------------------------------------------------------------*/
/*-_-_-_-_-_-_- typography -_-_-_-_-_-_- */
/*---------------------------------------------------------------------------------------------------*/

$fontOpen: 'Open sans', sans-serif;
$baseFontFamily: 'Manrope', sans-serif;
$fontRoboto: 'Roboto', sans-serif;

$fontAvenir : 'avenir';
$fa-font-path: "../fonts";

$baseFontSize: 13px;
$baseLineHeight: 20px;


/*---------------------------------------------------------------------------------------------------*/
/*-_-_-_-_-_-_- colors -_-_-_-_-_-_- */
/*---------------------------------------------------------------------------------------------------*/
$mainColor: var(--main-color);

$darkGray : hsl(217, 19%, 35%);
$darkGrayDesaturated : hsl(214, 17%, 51%);
$gray : hsl(212, 23%, 69%);
$lightGray : hsl(210, 46%, 95%);

$text : $gray;


/*---------------------------------------------------------------------------------------------------*/
/*-_-_-_-_-_-_- spaces and width-_-_-_-_-_-_- */
/*---------------------------------------------------------------------------------------------------*/
$spaceDefault : 15px;
$widthPageCenterDefaultDesktop: 1200px;
$widthPageCenterSpacesDesktop: $widthPageCenterDefaultDesktop - $spaceDefault * 2;


/*---------------------------------------------------------------------------------------------------*/
/*-_-_-_-_-_-_- media queries -_-_-_-_-_-_- */
/*---------------------------------------------------------------------------------------------------*/

$desktopWideWidth: 1240px;
$desktopWidth: 960px;
$tabletWidth: 768px;
